@model IEnumerable<Aerolinea.Models.Avion>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro de Aviones</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inactivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inactivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Serie">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Serie">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Serie">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
